/* NOTE media width 1024px */

/* 
######################################
	ROOT
######################################
*/

:root {
	/* Appearance */
	--text-color: #FFFFFF;
	--highlight-color: #0be881;
	--highlight-transparent: #0be88160;
	--light-color: #303030;
	--default-color: #222222;
	--dark-color: #1A1A1A;
	--lowlight-color: #131313;
	/* Dimension */
	--huge-text: 2.0rem;
	--large-text: 1.4rem;
	--medium-text: 1.2rem;
	--small-text: 1.0rem;
	--tiny-text: 0.8rem;
}
@media (max-width: 1024px) {
	:root {
		--huge-text: 2.4rem;
		--large-text: 1.6rem;
		--medium-text: 1.2rem;
		--small-text: 1.0rem;
		--tiny-text: 0.9rem;
	}
}

* {
	color: var(--text-color);
	overflow-wrap: anywhere;
	font-size: var(--small-text);

	box-sizing: border-box;
}

/* 
######################################
	DOCUMENT
######################################
*/

html, body {
	background-color: var(--default-color);

	width: 100vw;
	height: 100vh;
	margin: 0;

	overflow: hidden;
}
header {
	background-color: var(--default-color);

	width: 100%;
	height: 5%;
	top: 0;
	padding-left: 5%;
	padding-right 5%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
@media (max-width: 1024px) {
	header {
		padding-left: 2.5%;
		padding-right: 2.5%;
	}
}
main {
	position: absolute;
	width: 100%;
	height: 95%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.css-main-viewport {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 1;

	overflow-y: auto;
	overflow-wrap: normal;
}
.css-main-overlay {
	z-index: 2;
}

/* 
######################################
	ARTICLE
######################################
*/

article {
	background-color: var(--lowlight-color);

	padding-left: 25%;
	padding-right: 25%;
	padding-top: 1%;
	padding-bottom: 1%;
}
@media (max-width: 1024px) {
	article {
		padding-left: 5%;
		padding-right: 5%;
	}
}

/* 
######################################
	ASIDE
######################################
*/

aside {
	width: 25%;
	padding-top: 2.5%;
	padding-left: 5%;
	padding-right: 5%;

	display: flex;
	flex-direction: column;
}
@media (max-width: 1024px) {
	aside {
		display: none;
	}
}

/* 
######################################
	DROPDOWN
######################################
*/

#div-dropdown {
	display: none;
}
@media (max-width: 1024px) {
	#div-dropdown.js-open {
		background-color: var(--dark-color);

		display: flex;
		flex-direction: column;
	}
}

/* 
######################################
	CONTENT
######################################
*/

img {
	max-width: 100%;
	height: auto;
}

button:hover {
	cursor: pointer;
}

.button-discreet {
	background-color: transparent;

	border-radius: 0;
	border: none;
}

.button-page-selector-dropdown {
	text-align: left;
	font-size: var(--medium-text);

	width: 100%;
	padding: 1%;
	padding-left: 2.5%;
	border-bottom: 1px solid var(--light-color);
}
.button-page-selector-dropdown:hover {
	background-color: var(--highlight-transparent);
}

.button-page-selector-sidebar {
	text-align: left;
	font-size: var(--medium-text);

	padding-left: 10%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	border-left: 1px solid var(--text-color);
}
.button-page-selector-sidebar:hover {
	color: var(--highlight-color);
	text-decoration: underline;
}

#button-title {
	color: var(--highlight-color);
	font-size: var(--large-text);
	font-family: monospace;

	position: relative;
}
@media (max-width: 1024px) {
	#button-title {
		font-size: var(--medium-text);
	}
}

#button-menu-dropdown {
	display: none;
}
@media (max-width: 1024px) {
	#button-menu-dropdown {
		position: relative;
		width: 3rem;
		height: 3rem;
		box-sizing: border-box;

		display: flex;
		justify-content: center;
		align-items: center;
	}
}

#img-menu-dropdown {
	filter: invert(69%) sepia(85%) saturate(552%) hue-rotate(90deg) brightness(94%) contrast(92%);
}
