html {
	/* Appearance */
	background-color: white;
	border: 4px solid red;
	/* Dimension */
	margin: 0;
	padding: 0;
	/* Content */
	display: flex;
	justify-content: center;
}

body {
	/* Appearance */
	background-color: grey;
	border: 2px solid orange;
	/* Dimension */
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	/* Appearance */
	background-color: #2C3E50;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #2ECC71;
	/* Position */
	position: sticky;
	top: 0;
	z-index: 1;
	/* Content */
	display: flex;
	justify-content: left;
}

.div-title {
	/* Dimension */
	width: 25%;
	/* Content */
	display: flex;
	justify-content: center;
}

aside {
	/* Appearance */
	background-color: black;
	border: 1px solid yellow;
	/* Dimension */
	width: 12.5%;
	/* Position */
	position: absolute;
	bottom: 0;
	top: 100%;
	right: 6.25%;
	z-index: 1;
}

main {
	/* Appearance */
	background-color: black;
	border: 1px solid yellow;
	/* Dimension */
	width: 50%;
	/* Position */
	position: relative;
	left: 25%;
}

.p-side {
	background-color: blue;
}

h1, p {
	background-color: white;
}
