html {
	/* Appearance */
	background-color: #112233;
	border: 4px solid red;
	/* Dimension */
	margin: 0;
	padding: 0;
	/* Content */
	display: flex;
	justify-content: center;
}

body {
	/* Appearance */
	background-color: #07111B;
	border: 2px solid orange;
	/* Dimension */
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	/* Appearance */
	background-color: #AAAAAA;
	border: 1px solid yellow;
	/* Position */
	position: sticky;
	top: 0;
	z-index: 1;
}
