/* NOTE media width 1024px */

/* 
######################################
	ROOT
######################################
*/

:root {
	/* Appearance */
	--light-color: #222222;
	--dark-color: #191919;
	--highlight-color: #0be881;
	--highlight-transparent: #0be88160;
	--text-color: #FFFFFF;
	/* Dimension */
	--huge-text: 2rem;
	--large-text: 1.4rem;
	--medium-text: 1.2rem;
	--small-text: 1.0rem;
	--tiny-text: 0.8rem;
}
@media (max-width: 1024px) {
	:root {
		--huge-text: 2.2rem;
		--large-text: 1.6rem;
		--medium-text: 1.4rem;
		--small-text: 1.2rem;
		--tiny-text: 0.8rem;
	}
}

* {
	/* Appearance */
	color: var(--text-color);
	overflow-wrap: anywhere;
	font-size: var(--small-text);
}

/* 
######################################
	DOCUMENT
######################################
*/

html {
	/* Appearance */
	background-color: var(--light-color);
	/* Dimension */
	min-height: 100vh;
}
body {
	/* Dimension */
	width: 100%;
	height: 100%;
	margin: 0;
	box-sizing: border-box;
}
main {
	/* Appearance */
	background-color: var(--dark-color);
	min-height: calc(100vh - 4 * var(--large-text));
	/* Content */
	display: flex;
	flex-direction: row;
}

/* 
######################################
	ARTICLE
######################################
*/

article {
	font-size: var(--small-text);
	/* Dimension */
	position: relative;
	width: 50%;
	left: 25%;
	padding-top: 1%;
	padding-bottom: 1%;
	/* Content */
	display: flex;
	flex-direction: column;
}
@media (max-width: 1024px) {
	article {
		/* Dimension */
		width: 90%;
		left: 5%;
	}
}

/* 
######################################
	STICKY
######################################
*/

.div-sticky {
	/* Dimension */
	position: sticky;
	top: 0;
	z-index: 1;
}

header {
	/* Appearance */
	background-color: var(--light-color);
	/* Content */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.div-aside {
	/* Content */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
aside {
	/* Dimension */
	width: 15%;
	position: absolute;
	top: 250%;
	/* Content */
	display: flex;
	flex-direction: column;
}
@media (max-width: 1024px) {
	aside {
		/* Dimension */
		display: none;
	}
}
#aside-left {
	/* Dimension */
	left: 5%;
}
#aside-right {
	/* Dimension */
	right: 5%;
}

/* 
######################################
	CONTENT
######################################
*/

.button-discreet {
	/* Appearance */
	background-color: transparent;
	border-radius: 0;
	border: none;
}
.button-discreet:hover {
	/* Appearance */
	cursor: pointer;
}
.button-sidebar {
	/* Appearance */
	text-align: left;
	font-size: 1.2rem;
	border-left: 1px solid var(--text-color);
	/* Dimension */
	padding-left: 10%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	/* Content */
	display: flex;
	flex-direction: row;
	align-items: center;
}
.button-sidebar:hover {
	/* Appearance */
	color: var(--highlight-color);
	text-decoration: underline;
}

#button-title {
	/* Appearance */
	color: var(--highlight-color);
	font-size: var(--large-text);
	font-family: monospace;
	/* Dimension */
	position: relative;
	left: 5%;
	padding: 0.5%;
}

#button-hamburger {
	display: none;
}
@media (max-width: 1024px) {
	#button-hamburger {
		/* Dimension */
		display: block;
		box-sizing: border-box;
		width: 2.5rem;
		height: 2rem;
		position: relative;
		right: 5%;
		/* Content */
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 25%;
	}
}

.div-hamburger {
	display: none;
}
@media (max-width: 1024px) {
	.div-hamburger {
		/* Appearance */
		background-color: var(--highlight-color);
		/* Dimension */
		display: block;
		width: 100%;
		height: 5%;
	}
}
