/* NOTE media width 1024px */

/* 
######################################
	ROOT
######################################
*/

:root {
	/* Appearance */
	--light-color: #222222;
	--dark-color: #191919;
	--highlight-color: #0be881;
	--highlight-transparent: #0be88160;
	--text-color: #FFFFFF;
	/* Dimension */
	--huge-text: 2rem;
	--large-text: 1.4rem;
	--medium-text: 1.2rem;
	--small-text: 1.0rem;
	--tiny-text: 0.8rem;
}
@media (max-width: 1024px) {
	:root {
		--huge-text: 2.2rem;
		--large-text: 1.6rem;
		--medium-text: 1.4rem;
		--small-text: 1.2rem;
		--tiny-text: 0.8rem;
	}
}

* {
	color: var(--text-color);
	overflow-wrap: anywhere;
	font-size: var(--small-text);

	box-sizing: border-box;
}

/* 
######################################
	DOCUMENT
######################################
*/

html, body {
	background-color: var(--light-color);

	width: 100vw;
	height: 100vh;
	margin: 0;

	overflow: hidden;
}
header {
	background-color: var(--light-color);

	width: 100%;
	height: 5%;
	top: 0;
	padding-left: 5%;
	padding-right 5%;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}
main {
	position: absolute;
	width: 100%;
	height: 95%;

	display: flex;
	flex-direction: row;
}

/* 
######################################
	ARTICLE
######################################
*/

article {
	background-color: var(--dark-color);

	position: absolute;
	width: 100%;
	height: 100%;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 1%;
	padding-bottom: 1%;

	overflow-y: auto;
	overflow-wrap: normal;
}
@media (max-width: 1024px) {
	article {
		padding-left: 5%;
		padding-right: 5%;
	}
}

#div-main-spacer {
	width: 50%;
}
@media (max-width: 1024px) {
	#div-article-spacer {
		width: 100%;
	}
}


/* 
######################################
	ASIDE
######################################
*/

aside {
	width: 25%;
	padding-top: 5%;
	padding-left: 5%;
	padding-right: 5%;
	z-index: 1;

	display: flex;
	flex-direction: column;
}
@media (max-width: 1024px) {
	aside {
		display: none;
	}
}

/* 
######################################
	CONTENT TODO
######################################
*/

.button-discreet {
	/* Appearance */
	background-color: transparent;
	border-radius: 0;
	border: none;
}
.button-discreet:hover {
	/* Appearance */
	cursor: pointer;
}
.button-sidebar {
	/* Appearance */
	text-align: left;
	font-size: 1.2rem;
	border-left: 1px solid var(--text-color);
	/* Dimension */
	padding-left: 10%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	/* Content */
	display: flex;
	flex-direction: row;
	align-items: center;
}
.button-sidebar:hover {
	/* Appearance */
	color: var(--highlight-color);
	text-decoration: underline;
}

#button-title {
	/* Appearance */
	color: var(--highlight-color);
	font-size: var(--large-text);
	font-family: monospace;
	/* Dimension */
	position: relative;
}

#button-hamburger {
	display: none;
}
@media (max-width: 1024px) {
	#button-hamburger {
		/* Dimension */
		display: block;
		box-sizing: border-box;
		width: 2.5rem;
		height: 2rem;
		position: relative;
		right: 5%;
		/* Content */
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 25%;
	}
}

.div-hamburger {
	display: none;
}
@media (max-width: 1024px) {
	.div-hamburger {
		/* Appearance */
		background-color: var(--highlight-color);
		/* Dimension */
		display: block;
		width: 100%;
		height: 5%;
	}
}
