html {
	/* Appearance */
	background-color: #18191b;
	/* Dimension */
	min-height: 100vh;
	margin: 0;
	padding: 0;
	/* Content */
	display: flex;
	justify-content: center;
}

body {
	/* Appearance */
	background-color: #212426;
	/* Dimension */
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	/* Appearance */
	background-color: #2C3E50;
	/* Position */
	position: sticky;
	top: 0;
	z-index: 1;
	/* Content */
	display: flex;
	justify-content: left;
}

.div-title {
	/* Dimension */
	width: 25%;
	/* Content */
	display: flex;
	justify-content: center;
}

aside {
	/* Appearance */
	background-color: transparent;
	border-left: 4px solid white;
	/* Dimension */
	width: 12.5%;
	/* Position */
	position: absolute;
	top: 200%;
	left: 6.25%;
	z-index: 1;
}

main {
	/* Appearance */
	background-color: transparent;
	/* Dimension */
	width: 50%;
	/* Position */
	position: relative;
	left: 25%;
}

.p-side {
	/* Appearance */
	background-color: white;
}

h1, p {
	/* Appearance */
	background-color: white;
}
