html {
	/* Appearance */
	background-color: #112233;
	/* Dimension */
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

body {
	/* Appearance */
	background-color: #07111B;
	border: 2px solid orange;
	/* Dimension */
	width: 95%;
	height: 95%;
}

h1 {
	background-color: #66FF99;
}

.button {
	padding: 1px 6px;
	border: 1px outset buttonborder;
	border-radius: 3px;
	color: buttontext;
	background-color: buttonface;
	text-decoration: none;
}
