html {
	background-color: #444444;
}

body {
	background-color: #111111;
	margin: 0 auto;
	width: 600px;
	border: 2px solid orange;
}

img {
	display: block;
	margin: 0 auto;
	width: 200px;
}

li {
	color: orange;
	padding: 0 20px 20px 20px;
}

p {
	color: white;
	border-top: 1px solid white;
	padding: 0 20px 20px 20px;
}

.highlight {
	background-color: orange;
}
